body{
    background: url('../../images/organization.jpg');
    background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #fff;
}
.container{
    padding: 5%;
}
.center{
    text-align: center;
}
.white{
    color:#fff;
}
.form{
    width: 100%;
    color: #fff;
}

label{
    color: #fff;
}
input {
    background: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 55%;
    color: #fff;
    margin-right: 5px;
}

input:active {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;   
}

.center-container{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.organization {
    background-color:blanchedalmond;
    width: 70%;
    padding: 10px;
    margin: auto;
}

.organization h1 {
    text-align: center;
}

.organization a {
    color: #fff;
    margin-left: 5px;
    padding: 5px;
    background-color: black;
}